.divider{
    border: 2px solid dotted;
}
.icon{
 
    text-align: center;
    color: #644F9C;
    font-size: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    padding: 40px;
}
.service h4{
    font-size: 20px;
   text-align: center;
}
.btn{
    background-color: #644F9C;
    border: none;
    padding: 3px 70px;
    color:white;
    border-radius: 30px;
}
.btn:hover{
    color:white; 
}